* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

/* ログインページと新規投稿画面 */

#login-pages {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}


#update-post, #create-new-post, #show-single-post {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aebfd4;
}

#login-pages .login-container {
background-color: #F4FA58;
padding: 20px;
}

#create-new-post .login-container, #update-post .update-container {
background-color: white;
padding: 50px;
}

#show-single-post .single_post {
background-color: white;
padding: 50px;
width: 500px;
}

#show-single-post .single_post p {
  padding: 20px;
}

#update-post .form-group, #create-new-post .form-group, #login-pages .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
  padding: 5px;
}

#login-pages .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

#create-new-post .form-group label, #update-post .form-group label{
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

#login-pages .form-group input {
  display: block;
  width: 100%;
  padding:  5px 0;
  transition: 0.4s;
}

#create-new-post .form-group .form-control, #update-post .form-group .form-control{
  display: block;
  width: 100%;
  padding:  5px 0;
  transition: 0.4s;
}

/* 投稿一覧Show,Edit,Deleteボタン */
.post_button ul li {
  margin-right: 10px;
}

















